@font-face {
    font-family: 'raleway-regular';
    src: url('../fonts/raleway-regular.woff2');
    font-weight: 400;
}

@font-face {
  font-family: 'raleway-regular';
  src: url('../fonts/raleway-black.woff2');
  font-weight: 900;
}