.header {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    background-image: url(../img/ground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 100;
    width: 100%;
    height: calc(var(--index) * 10 );
    bottom: calc(var(--index) * -4.5);
  }
}

.layers {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  overflow: hidden;
  &__subtitle {
    font-size: calc(var(--index) / 1.175);
    letter-spacing: calc(var(--index) / 3.5);
    margin-top: calc(var(--index) * -.75);
      
  }

  &__title {
    font-size: calc(var(--index) * 2.65);
    letter-spacing: calc(var(--index) / 2.25);
  }

  &__base {
    z-index: 0;
    background-image: url(../img/layer-base.png);
    transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
    will-change: transform;
  }

  &__middle {
    transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
    background-image: url(../img/layer-middle.png);
    will-change: transform;
  }

  &__front {
    transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
    background-image: url(../img/layer-front.png);
    will-change: transform;
  }
}

.layer {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: var(--transition);
  &__header {
    z-index: 1;
    transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
    transition: var(--transition);
    will-change: transform;
    text-transform: uppercase;
    font-weight: 900;
    text-shadow: 0 0 15px #9d822b;
  }
}

.layers__base {
  z-index: 0;
}